node_modules/
.next/
.vercel/
.env
.env.*
!.env.example
.DS_Store
*.log
www/
web-dist/
android/.gradle/
android/local.properties
android/**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.keystore
*.jks
*.apk
*.aab
